HOST= "localhost" # number (default: localhost)
PORT= 4000 # number (default: 4000)
## -----
# DATABASE (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/xebook?schema=public"
JWT_SECRET="change-me-to-a-long-random-secret"
JWT_EXPIRES_IN="7d"
## -----
EMAIL_HOST= "" # string 
EMAIL_USERNAME= "" # string 
EMAIL_PASSWORD= "" # string 
